@import './base.css';

/* Remove conflicting layout rules since we use Tailwind utilities in App.vue */
#app {
  font-weight: normal;
}

body{
  margin: 0;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
